.container
{
	
    width: 63%;
    margin: 33px 208px;
    height: 427px;
    border: 1px solid black;
	
}
.box-1
{
    display: flex;
    width: 88%;
    height: 76%;
    border:15px solid rgb(0, 0, 255);
    margin: 38px;
    align-content: center;
    align-items: center;
    justify-items: center;
    background: rgb(173, 216, 230);
}

.box-2
{
    display: flex;
    width: 77%;
    height: 76%;
    border: 1px solid blue;
    margin: 64px;
    align-content: center;
    align-self: center;
    justify-content: center;
    background: lightblue;
    align-items: center;
    justify-content: center;
}


.box-3
{
    width: 300px;
    height: 148px;
    justify-content: center;
    justify-self: center;
	padding:50px;
    border: 15px solid rgb(0, 0, 255);
    margin: 20px;
	background-color:rgb(173, 216, 230);
}


.box-3 p
{
   margin:0;

}
